[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
Actions=openInYazi;

[Desktop Action openInYazi]
Name=Open in Yazi
Icon=utilities-terminal
Exec=kitty --directory %F yazi
