[Unit]
Description=Rotate the EVA wallpaper every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s
Unit=eva-wallpaper-rotation.service

[Install]
WantedBy=timers.target
